html {
  --primary: #ddb669;
  --primaryHover: #fffcf0;
  --bgLayoutColor: #f5f9f9;
  --greytext: #b9c0c3;
  --bgLayoutWhite: white;
  --textLighter: #8a8c99;
  --textDarker: #173039;
  --shadowColor: #8a8c991a;
  --buttonInvalid: #c4c5cc;
  --shadow: 0px 5px 20px var(--shadowColor);
}

.SearchBar {
  input {
    background-color: var(--bgLayoutColor);
  }
  svg {
    color: var(--greytext) !important;
  }
}

.hamburger {
  background: var(--bgLayoutColor);
}
.hamburger:hover {
  background: var(--primaryHover) !important;
  color: var(--primary) !important;
}

.siderbar {
  svg {
    // color: var(--textLighter);
  }
  .ant-menu-item:has(img) {
    background-color: unset !important;
  }
  .ant-menu-item-selected svg {
    color: var(--primary);
  }
}
.basebg {
  background: var(--bgLayoutColor);
  border: 1px solid var(--bgLayoutColor);
}
.basebgInput {
  background: var(--bgLayoutColor);
  border: 1px solid var(--bgLayoutColor);
  input {
    background: var(--bgLayoutColor);
  }
}

.logoWrapper {
  span {
    background-color: var(--textLighter) !important;
  }
}
